@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC demo - Distributed information System ISM6225</h1>
    <p class="lead">Create a MVC project, or update your existing MVC project to include a simple form that accepts user inputs and processes the inputs in the action method upon form submission.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>In-class: Razor form</h2>
        <p>
            Push the project to GitHub. Submit the url to your repository.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>